argon2-cffi
asgiref
bcrypt
cffi
click
cryptography
email-validator
Flask
Flask-Bcrypt
Flask-Limiter
Flask-Login
Flask-SQLAlchemy
Flask-Talisman
Flask-WTF
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pycparser
pyotp
python-dotenv
qrcode[pil]
requests
six
SQLAlchemy
Werkzeug
WTForms
